
node_js:
  - "10"
cache: npm

notifications:
  email:
    recipients:
      - weipeng2k@126.com # 设置通知邮件
    on_success: change
    on_failure: always

install:
  - npm install -g gitbook-cli
  - gitbook install

script:
  - gitbook build

after_script:
  - cd _book
  - git init
  - git remote add origin https://${REF}
  - git add .
  - git commit -m "Updated By Travis-CI With Build $TRAVIS_BUILD_NUMBER For Github Pages"
  - git push --force --quiet "https://${TOKEN}@${REF}" main:gh-pages

branches:
  only:
    - main

env:
  global:
    - REF=github.com/weipeng2k/dawn-blossoms-plucked-at-dusk.git # 设置 github 地址